<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing athlete</h1>

  <%= render "form", athlete: @athlete %>

  <%= link_to "Show this athlete", @athlete, class: "custom-button" %>
  <%= link_to "Back to athletes", athletes_path, class: "custom-button" %>
</div>
